@{
    ViewBag.Title = "SignalR Persistent Connection";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <ul id="Messages"></ul>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquerysignalR")
    <script src="~/Scripts/Common.js"></script>
    <script src="~/Scripts/AuthorizeEchoConnection.js"></script>
    <script>
        $(function () {
            startSignalR();
        });
    </script>
}
